<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Books available in Nico's House</title>
<style>
      html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  background: lightgray;
}

.bookshelf--frame {
  max-width: 1200px;
  margin: 0 auto;
}

.bookshelf--frame {
  background: tan;
  background: url("https://static.tumblr.com/8x9m588/C8ho55ylx/bg-wood2.png"), linear-gradient(#323232, #373737 290px, #a8914e 290px, #a8914e 292px, #9A8548 292px, #9A8548 298px, #8c7942 298px, #8c7942 300px);
  background-size: auto, 10px 300px;
  border-left: 10px solid #9A8548;
  border-right: 10px solid #9A8548;
  text-align: center;
}
.bookshelf--frame:first-of-type {
  border-top: 10px solid #9A8548;
}
.bookshelf--frame .book-wrapper {
  display: inline-block;
  width: 290px;
  vertical-align: bottom;
  height: 280px;
  position: relative;
  margin: 10px 0;
  max-width: 100%;
}
.bookshelf--frame .book-wrapper img {
  height: auto;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-height: 100%;
  max-width: 100%;
}

    </style>
</head>
<body translate="no">
<div class="bookshelf--frame">
<% unless content.nil? %>
<% content.each do |book| %>
<div class="book-wrapper">
<img src="<%= book["thumbnail_url"] %>" width="300" height="500" alt="<%= book["title"] %>">
</div>
<% end %>
<% end %>
</div>
</body>
</html>
